.fade-enter-active, .fade-leave-active {

    transition: all .2s
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    transform: scale(.4);
    opacity: 0;
  }

  .fadeInClass {
    animation : fadeIn .3s;  
  }
  .fadeOutClass {
    animation : fadeOut 1s ease-in-out .2s;  
    animation-duration: .17s;
  }
  @keyframes fadeIn {
    0% {
      transform : translateX(-100%);
    }
    100% {
      transform : translateX(0);
    }
  }

  @keyframes fadeOut {
    0% {
      transform : translateX(0);
    }
    100% {
      transform : translateX(-100%);
    }
  }